
.my-dna{
    font-weight: bold; 
}


.my-rna {
    color: #FBFF41;
    font-weight: bold; 
}


.my-coassay {
    color: #FF89F6; 
    font-weight: bold; 
}

.my-about {
    color: black; 
    font-weight: bold; 
}